# Playbook to debug tasks, connections, references, variables, etc.
---
- name: Debug information
  hosts: all
  tags: info
  tasks:
    - name: Print the ansible hostname
      debug:
        var: ansible_hostname
    - name: Print out the inventory file in use
      debug:
        var: inventory_file
    - name: Display the ansible groups for each host
      debug:
        var: group_names
    - name: ping all hosts
      ping:
    - name: Check version of community.general
      debug:
        msg: "community.general version {{ lookup('community.general.collection_version', 'community.general') }}"

- name: Get info from k8s cluster
  hosts: alex-server
  tags: k8s
  environment:
    K8S_AUTH_KUBECONFIG: "{{ k8s_kubeconfig_file }}"
    K8S_AUTH_CONTEXT: "{{ k8s_context }}"
  tasks:
    - name: Get all namespaces
      k8s_info:
        kind: namespace
      register: namespaces

    - name: Print the namespaces names
      debug:
        msg: "{{ namespaces.resources | map(attribute='metadata.name') | list }}"

- name: Test variable setting
  hosts: alex-pc
  tags: vars
  vars:
    test_var1: test1
  tasks:

  - name: Get secret stored in a variable
    debug:
      var: test_var1

  - name: test the register parameter
    debug:
      msg: test2
    register: test_var2
  - name: Get secret stored in a variable
    debug:
      var: test_var2

  - name: test setting a fact
    set_fact:
      test_var3: test3
  - name: Get secret stored in a variable
    debug:
      var: test_var3
