---
- name: Test Ansible 1Password lookup plugin
  hosts: alex-server
  tags: op
  gather_facts: no
  vars:
    subdomain: "{{ onepassword_subdomain }}"
    domain: "{{ onepassword_domain }}"
    vault: "{{ onepassword_vault }}"
    service_account_token: "{{ onepassword_service_account_token }}"
    my_special_secret: "{{ lookup('community.general.onepassword', 'Ansible Test', section='Important Section', field='My Special Secret', vault=vault, subdomain=subdomain, domain=domain, service_account_token=service_account_token) }}"
  tasks:
  - name: Print login information
    debug:
      msg: Login at {{ onepassword_subdomain }}.1password.{{ onepassword_domain }} by using a service account

  - name: Get secret stored in a variable
    debug:
      var: my_special_secret

  - name: Get password via onepassword lookup
    debug:
      msg: "{{ lookup('community.general.onepassword', 'Ansible Test', section='Important Section', field='My Special Secret', vault=vault, subdomain=subdomain, domain=domain, service_account_token=service_account_token) }}"
