---
- name: Install helm charts
  hosts: kubernetes
  environment:
    K8S_AUTH_KUBECONFIG: "{{ k8s_kubeconfig_file }}"
    K8S_AUTH_CONTEXT: "{{ k8s_context }}"
  roles:
    - role: traefik
      tags: ingress
    - role: grafana
      tags: monitoring
    - role: home-assistant
      tags: home-automation